<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.paidian.test.hw</key>
		<string>hw_adhoc_test_111111</string>
	</dict>
	<key>signingCertificate</key>
	<string>EC8067171B7C200F5A4D52F865A2C2753D8D765C</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>A6C6R885GZ</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
